@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
/* Primary Colors */
/* Secondary Colors */
/* Utility Colors */
/* Font Family */
/* Font weight */
/* Font Size */
/* Line Height  */
h1, h2, h3, h4, h5 {
  font-family: "DM Sans", "Arial", sans-serif;
}

h1 {
  font-size: 3.375rem;
  line-height: 3.375rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 500;
}

h5 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

.body-copy, .cartPageHeader__descr-element {
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
}

.menu-item {
  font-size: 0.875rem;
  line-height: 2rem;
  font-weight: 700;
}

.labels-buttons {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
}

.heading2 {
  font-size: 2.625rem;
  line-height: 2.5rem;
  font-weight: 500;
}

.heading5 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

html {
  width: 100vw;
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(0, 60, 113);
  font-family: "Nunito Sans", "Arial", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}

a, a:visited, a:active {
  text-decoration: none;
}

/* Margines & Paddings */
.cartPageHeader__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 1rem;
  border-bottom: 1px solid rgb(0, 60, 113);
  padding-top: 4.0625rem;
  padding-bottom: 3.125rem;
}
@media (min-width: 59.9375rem) {
  .cartPageHeader__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2.5rem;
    margin: auto;
    max-width: 87.5rem;
    border-inline: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233);
    flex-direction: row;
    padding-top: 6.5625rem;
    padding-bottom: 4.6875rem;
    border-bottom: 1px solid rgb(0, 60, 113);
  }
}
.cartPageHeader__container-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 59.9375rem) {
  .cartPageHeader__container-btn {
    width: 16.25rem;
  }
}
.cartPageHeader__container-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.cartPageHeader__title {
  max-width: 40.625rem;
  font-weight: 500;
}
.cartPageHeader__descr {
  display: flex;
  gap: 1rem;
}
.cartPageHeader__icon {
  display: flex;
  gap: 1rem;
}
.cartPageHeader__icon-element {
  width: 1.375rem;
  height: 1.375rem;
}
@media (min-width: 59.9375rem) {
  .cartPageHeader__btn {
    width: 100%;
  }
}