@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
/* Primary Colors */
/* Secondary Colors */
/* Utility Colors */
/* Font Family */
/* Font weight */
/* Font Size */
/* Line Height  */
h1, h2, h3, h4, h5 {
  font-family: "DM Sans", "Arial", sans-serif;
}

h1 {
  font-size: 3.375rem;
  line-height: 3.375rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 500;
}

h5 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

.body-copy, .offering-details__item-copy, .offering-details__subscribe {
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
}

.menu-item {
  font-size: 0.875rem;
  line-height: 2rem;
  font-weight: 700;
}

.labels-buttons {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
}

.heading2 {
  font-size: 2.625rem;
  line-height: 2.5rem;
  font-weight: 500;
}

.heading5 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

html {
  width: 100vw;
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(0, 60, 113);
  font-family: "Nunito Sans", "Arial", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}

a, a:visited, a:active {
  text-decoration: none;
}

/* Margines & Paddings */
.offering-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.offering-details__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 59.9375rem) {
  .offering-details__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.offering-details__item-heading {
  color: rgb(90, 90, 90);
}
.offering-details__info {
  padding-top: 1.5rem;
  border-bottom: 1px solid rgb(242, 242, 242);
}
.offering-details__subscribe {
  display: flex;
  gap: 0.5rem;
  color: rgb(118, 118, 118);
}
@media (min-width: 59.9375rem) {
  .offering-details__subscribe {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.offering-details__subscribe span > p {
  display: inline-block;
}
.offering-details__available {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 59.9375rem) {
  .offering-details__available {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.hidden {
  display: none;
}