@use '../../../styles/partials/' as p;

.text-linkSmall {
    border: none;
    background: none;
    padding-inline: 0;
    
    cursor: pointer;
    width: fit-content;
    

    &-copy {
        color: p.$primaryColor--blue;
        font-size: p.$font-xs;
        border-bottom: 2px solid p.$secondaryColor--yellow;
        padding-left: p.$size-xxs;
    }
}