@use '../../../../styles/partials/' as p;

.sidebarLayout {
    display: flex;
    flex-direction: column;
    padding-inline: p.$size-s;
    gap: p.$size-s;
    padding-top: p.$size-l;
    padding-bottom: p.$size-l;

    @include p.breakpoint(tablet) {
        padding-inline: 0;
        width: 100%;
    }

    @include p.breakpoint(desktop) {
        padding-top: p.$size-3xl;
        padding-right: 0;
        padding-left: 0;
        border-right: 1px solid p.$border-global-grey;
        width: max(p.px-to-rem(349), 25%);
        height: 100%;
    }
}
