@use '../../../../styles/partials/' as p;

table {
    border-collapse: collapse;
    border-spacing: 0; 
}
    
 .lab-table {
      width: 100%;

      @include p.breakpoint(tablet) {
        width: p.px-to-rem(500);
      }
    }