@use '../../styles/partials/' as p;

.app {
    display: flex;
    flex-direction: column;
}

.contentArea {
    display: flex;
    flex-direction: column;
    padding-inline: p.$size-xl;
    width: 100%;
    
    @include p.breakpoint(tablet) {
        padding-top: 0;
    }

    @include p.breakpoint(desktop) {
        @include p.container-layout;
        align-items: flex-start;
        flex-direction: row;
        padding: 0;
        border-bottom: 1px solid p.$border-global-grey;
    }
    
    &__main {
        padding-bottom: p.px-to-rem(38);
        border-bottom: 1px solid p.$border-global-grey;
        padding-inline: p.$size-s;
        width: 100%;

        @include p.breakpoint(tablet) {
            padding-top: p.$size-xl;
            padding-bottom: p.$size-3xl;
            padding-inline: 0;
            border-bottom: none;
        }

        @include p.breakpoint(desktop) {
            padding-inline: p.$size-xl;
        }
    }

    &__cancelNotice {
        text-align: center;
        font-size: p.$font-xs;
        font-weight: p.$font-bold;
        color: p.$secondaryColor--fontGrey;
        margin-top: p.$size-xl;
    }
}

