@use '../../../../styles/partials/' as p;

.descr {
    display: flex;
    flex-direction: column;
    gap: p.$size-m;
    @extend .body-copy;

    ul {
        margin: 0;
    }

    small {
        font-style: italic;
    }

    &__title {
        color: p.$secondaryColor--fontGrey;
        margin-bottom: p.$size-s;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: p.$size-m;

        @include p.breakpoint(tablet) {
            flex-direction: row;
            justify-content: space-between;
        }
        

        &--fee {
            display: flex;
            flex-direction: column;
        }

        &--prereq {

            ul {
                display: flex;
                flex-direction: column;
                gap: p.$size-s;
            }
            

            &-approval {

                &-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: p.$size-xs;    
                }
            }   
        }
        }
    }

    .approval-copy {
        display: flex;
        gap: p.$size-xs;
        position: relative;
    }

    
