@use '../../../styles/partials/' as p;

.statusTag {
    display: flex;
    flex-shrink: 0;
    border-radius: p.$size-xxs;
    height: fit-content;
    width: fit-content;

    img {
        width: p.px-to-rem(22);
    }

    &--available {
        display: flex;
        vertical-align: bottom;
        
        div {
            display: flex;
            flex-direction: row;
            align-items: start;
            gap: p.$size-xxs;
            color: p.$success-color;

            @include p.breakpoint(tablet) {
                align-items: center;
            }
        }
    }

    &--unAvailable {
        display: inline-block;
        vertical-align: bottom;

        div {
            display: flex;
            align-items: start;
            flex-direction: row;
            gap: p.$size-xxs;
            color: p.$error-color;

            @include p.breakpoint(tablet) {
                align-items: center;
            }
        }
    }

    &--inUse {
        display: inline-block;
        vertical-align: bottom;

        div {
            display: flex;
            align-items: start;
            flex-direction: row;
            gap: p.$size-xxs;
            color: p.$warning-color;

            @include p.breakpoint(tablet) {
                align-items: center;
            }
        }
    }

    &-text {
        @extend .labels-buttons;
        text-transform: capitalize;

        
        p {
            text-align: center;
            line-height: p.px-to-rem(18);
        }

    }
}

