@use '../../../styles/partials/' as p;

.noticePanel {
    display: flex;
    flex-direction: column;
    padding: p.$size-m;
    width: 100%;
    @extend .body-copy;
    font-size: 1rem;

    &__heading {
        font-weight: 600;
        line-height: p.$lineH-s;
    }
}

.info {
    background-color: p.$background-blue-light;
    border-left: 8px solid p.$border-blue;
}