@use '../../../styles/partials/' as p;

.noticePanel {
    display: flex;
    text-align: center;
    padding: p.$size-m;
    width: 100%;
    @extend .body-copy;
    font-size: 1rem;
    gap: p.$size-xxs;

    &__heading {
        font-weight: p.$font-bold;
    }
}

.info {
    background-color: p.$background-blue-light;
    border-left: 8px solid p.$border-blue;
}