@use '../../../../styles/partials/' as p;

.accordion {
    display: flex;
    flex-direction: column;
    gap: p.$size-s;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}