@use '../../../../styles/partials/' as p;

.btn-icon {
    display: flex;
    //justify-content: center;
    //width: 100%;
    //height: p.$size-2xl;
    cursor: pointer;
    position: relative;

    &__img {
        width: p.px-to-rem(18);
    }

}