@use '../../../../styles/partials/' as p;

.table-row {
    &-cell-simple {
        border: 1px solid p.$border-grey;  
        border-spacing: 0; 
        padding: p.$size-s;
        vertical-align: top;
    }

    &-cell-complex {
      border: 1px solid p.$border-grey;  
      border-spacing: 0; 
      min-width: p.px-to-rem(310);

      button {
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: p.$size-s;

        .rotated {
          transform: rotate(90deg);
        }

      }

      &-expanded {
        display: grid;
        grid-template-columns: 1fr 1fr auto;

        td {
          border-top: 1px solid p.$border-grey;  
          padding: p.$size-s;
          border-spacing: 0; 
          width: 100%;
        }
      }
    }


}