@use '../../../../styles/partials/' as p;

.OfferingFooterCardPage {
    display: flex;
    flex-direction: column;
    gap: p.$size-m;


    &__btn-container {
        display: flex;
        justify-content: flex-end;
    }
}