@use '../../../../styles/partials/' as p;

.table-header {
    background-color: p.$border-grey;
    border: 1px solid p.$border-grey;  

    &-cell { 
        padding: p.$size-xs;
        text-align: left;
    }
}    
