@use '../../../styles/partials/' as p;

.form__container {
    display: flex;
    flex-direction: column;
    gap: p.$size-m;
    
    form {
        display: flex;
        flex-direction: column;
        gap: p.$size-m;
    }

}

.form__description {
    @extend .body-copy;
}