@use '../../../styles/partials/' as p;

.confirmationSection {
        display: flex;
        flex-direction: column;
        gap: p.$size-s;
        padding-block: p.$size-m;

        &__description {
            @extend .body-copy;
        }

        &__checkbox {
            @extend .body-copy;
            position: relative;
            
            &.approval-copy .popupTip {
                bottom: 100%;
                right: 0;
                margin-bottom: p.$size-xs;
            }
        }
}