@use '../../../../styles/partials/' as p;

.sidemenu {
    list-style: none;
    padding-left: 0;
    padding-top: p.$size-2xl;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-block: 0;
    

    @include p.breakpoint(desktop) {
        border-right: 1px solid p.$border-global-grey;
    }
    
    ul {
        list-style: none;
    }

    button {
        border: none;
        background: none;
        padding: 0;
    }

    &__header {
        border: 1px solid p.$border-global-grey;
        padding-inline: p.$size-l;
        padding-block: p.$size-m;
        display: flex;
        justify-content: space-between;

        img {
            display: block;
        }

        @include p.breakpoint(desktop) {
            border-block: 1px solid p.$border-global-grey;
            border-inline: 0;
        }

        &-btn {
            display: block;
            width: p.$size-s;

            @include p.breakpoint(desktop) {
                display: none;
            }
        }

        a {
            @include p.label;
            color: p.$primaryColor--darkBlue;
            font-weight: p.$font-bold;
            width: 100%;
        } 
    }

    &__list {
        padding-inline: p.$size-l;
        padding-block: p.$size-s;
        border-inline: 1px solid p.$border-global-grey;
        border-bottom: 1px solid p.$border-global-grey;
        display: none;

        &-open {
            display: block;
        }

        @include p.breakpoint(desktop) {
            border-inline: 0;
            display: block;
        }

        &-row {
            padding-block: p.$size-xs;
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            &-link {
                color: p.$primaryColor--darkBlue; 
            }
        }
    }


}