@use '../../../styles/partials/' as p;

.filterSet {
  border: none;
  display: flex;
  flex-direction: column;
  gap: p.$size-m;
  margin-inline: 0;
  margin-block: p.$size-s;
  padding: 0;
  
  &__legend {
    @extend .heading5;
    font-weight: p.$font-bold;
    margin-bottom: p.$size-xs;
  }
  
  &__inputSet {
    display: flex;
    align-items: center;
    gap: p.$size-xs;
  }
  
  &__input {
    display: flex;
    gap: p.$size-xs;
  }
  
  &__label {
    @extend .body-copy;
    font-weight: p.$font-bold;
  }
  
  &__description {
    @extend .body-copy;
    margin-left: p.$size-m;
  }
}
