@use '../../../styles/partials/' as p;

.filterSet {
  border: none;
  display: flex;
  flex-direction: column;
  gap: p.$size-xs;
  margin-inline: 0;
  margin-block: p.$size-s;
  padding: 0;
  
  &--dropdown {
    display: flex;
    flex-direction: column;
    gap: p.$size-xs;
  }

  &__dropdown {
    padding: p.$size-s;
    border: 1px solid p.$border-dark-grey;
    border-radius: p.$size-xxs;
    background-color: p.$primaryColor--white;
    font-size: p.$size-s;
    color: p.$secondaryColor--fontGrey;
    
    &:focus {
      outline: 2px solid p.$primaryColor--blue;
      outline-offset: 2px;
    }
  }

  &__legend {
    @extend .body-copy;
    font-weight: p.$font-bold;
    margin-bottom: p.$size-xs;
  }
  
  &__inputSet {
    display: flex;
    align-items: center;
    gap: p.$size-xs;
  }
  
  &__input {
    display: flex;
    gap: p.$size-xs;
  }
  
  &__label {
    @extend .body-copy;
    font-weight: p.$font-reg;
  }
  
  &__description {
    @extend .body-copy;
    margin-left: p.$size-m;
  }
}
