@use '../../../styles/partials/' as p;

.app {
    display: flex;
    flex-direction: column;
}

.contentArea {
    display: flex;
    flex-direction: column;
    padding-inline: p.$size-s;
    width: 100%;
    
    @include p.breakpoint(tablet) {
        padding-inline: p.$size-xl;
    }

    @include p.breakpoint(desktop) {
        @include p.container-layout;
        align-items: flex-start;
        flex-direction: row;
        border-bottom: 1px solid p.$border-global-grey;
        padding-inline: 0;
    }
    
    &__main {
        display: flex;
        flex-direction: column;
        gap: p.$size-l;
        padding-bottom: p.px-to-rem(38);
        border-bottom: 1px solid p.$border-global-grey;
        width: 100%;
        padding-top: p.$size-m;

        @include p.breakpoint(tablet) {
            padding-bottom: p.$size-3xl;
            padding-inline: 0;
            border-bottom: none;
        }

        @include p.breakpoint(desktop) {
            padding-inline: p.$size-xl;
        }

        &__search {
            display: flex;
            flex-direction: column;
            gap: p.$size-s;
            width: 100%;
            position: relative;

            h3 {
                color: p.$primaryColor--darkBlue;
            }

            .searchBar {
                width: 100%;
            }
        }

        &__container {
            display: flex;
            flex-direction: column;
            gap: p.$size-l;
        }

        &__filter-bar {
            display: flex;
            flex-direction: column;
            gap: p.$size-m;
            width: 100%;

            @include p.breakpoint(tablet) {
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
            }
        }

        &__search-container {
            display: flex;
            flex-direction: column;
            gap: p.$size-xs;
            width: 100%;

            @include p.breakpoint(tablet) {
                max-width: p.px-to-rem(603);
            }

            h3 {
                color: p.$primaryColor--darkBlue;
            }
        }

        &__filter-btn-container {
            display: flex;
            width: 100%;
            align-items: center;

            @include p.breakpoint(tablet) {
                width: p.px-to-rem(270);
                flex-shrink: 0;
                justify-content: flex-end;
            }
        }

        &__filter {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: p.$size-s;

            &-form {
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: p.$size-m;
            background-color: p.$background-grey;
            border: 1px solid p.$border-grey;
            padding: p.$size-s;
            
                &__group {
                    display: flex;
                    flex-direction: column;
                    gap: p.$size-m;
                    
                    @include p.breakpoint(tablet) {
                        flex-direction: row;
                        max-width: p.px-to-rem(603);
                    }
                }
                
                &__actions {
                    display: flex;
                    gap: p.$size-m;
                    align-items: center;;
                }
            }
        }
    }
}