@use '../../../../styles/partials/' as p;

.button-link-underline {
    border: none;
    background: none;
    
    cursor: pointer;
    width: fit-content;
    

    &-copy {
        color: p.$primaryColor--blue;
        padding-inline: 0;
        font-family: p.$fontBody;
        @extend .body-copy;
        border-bottom: 2px solid p.$secondaryColor--yellow;
    }
}

.button-link {
    border: none;
    background: none;
    padding: 0;
    
    cursor: pointer;
    width: fit-content;

    &-copy {
        color: p.$primaryColor--blue;
        padding: 0;
        font-family: p.$fontBody;
        font-size: p.px-to-rem(16);
    }
}