@use '../../../../styles/partials/' as p;

.accordionRow {
    display: flex;
    flex-direction: column;

    &__button {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        width: 100%;
        padding: p.$size-s;
        background: none;
        border: 1px solid p.$border-darkGrey; 
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        h2 {
            color: p.$primaryColor--darkBlue;
            font-size: p.$size-m;
            font-weight: p.$font-demi;
        }

        p {
            color: p.$primaryColor--darkBlue;
            line-height: normal;
            font-family: p.$fontBody;
            font-size: p.$font-s
        }

        &-icon {
            width: p.$size-m;
            height: p.$size-m;

            &--rotated {
                transform: rotate(180deg);
            }
        }

        &--open {
            background-color: p.$primaryColor--darkBlue;
            border: none;
            h2, p {
                color: p.$primaryColor--white;
            }
        }
    } 

    &__content {
        display: flex;
        flex-direction: column;
        border: 1px solid p.$border-darkGrey; 
        padding: p.$size-s;
        gap: p.$size-l;

        &__container {
            display: flex;
            flex-direction: column;
            gap: p.$size-s;
            //width: fit-content
        }

        &__header {
            display: flex;
            gap: p.$size-xs;
            position: relative;
        }
    }
}

.hidden {
    display: none;
}

/* Tooltip wrapper anchors the absolute popup to the icon */
.tooltip {

  display: inline-flex;
  align-items: center;
}