@use '../../styles/partials/' as p;

body {
    position: relative;
}

.contentArea__main { 
    &__text {
        @extend .body-copy; 

        p {
            margin-bottom: p.$size-s;
        }

        ul {
            line-height: p.$size-xl;
        }

        &-block {
            display: flex;
            flex-direction: column;
            gap: p.$size-s;
            margin-bottom: p.$size-l;
        }
    }
}
    

.chatbotPopupContainer {
    position: fixed;
    z-index: 1000;
    bottom: p.$size-m;
    right: p.$size-m;
    display: flex;
    flex-direction: column;
    gap: p.$size-xs;
    align-items: end;
}